apiVersion: v1
kind: ConfigMap
metadata:
  name: mongo-config
  namespace: delivery-management
data:
  mongo-url: mongo-service
---
apiVersion: v1
kind: Secret
metadata:
  name: mongo-secret
  namespace: delivery-management
type: Opaque
data:
  mongo-user: cm9vdA==
  mongo-password: cm9vdA==

